# 8 MHz clock
LOCATE COMP "clk" SITE "L16"; # FTDI_CLK (12MHz)
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

# LEDs
LOCATE COMP "led[0]" SITE "A15"; # LED_RGB0
LOCATE COMP "led[1]" SITE "B14"; # LED_RGB1
LOCATE COMP "led[2]" SITE "A14"; # LED_RGB2
LOCATE COMP "led[3]" SITE "M16"; # LEDG
LOCATE COMP "led[4]" SITE "M15"; # LEDR

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

# Buttons
LOCATE COMP "btn" SITE "N16"; # uButton

IOBUF PORT "btn" IO_TYPE=LVCMOS33 PULLMODE=UP;

# UART
LOCATE COMP "uart_rx" SITE "R16";
LOCATE COMP "uart_tx" SITE "R15";

IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;

# Flash
LOCATE COMP "flash_mosi" SITE "T8";
LOCATE COMP "flash_miso" SITE "T7";
LOCATE COMP "flash_wp" SITE "M7";
LOCATE COMP "flash_hold" SITE "N7";
LOCATE COMP "flash_sck" SITE "N9";
LOCATE COMP "flash_cs" SITE "N8";

IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_wp" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_hold" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_sck" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_cs" IO_TYPE=LVCMOS33;

# PSRAM 1
LOCATE COMP "psrama_nce" SITE "P5";
LOCATE COMP "psrama_sclk" SITE "P1";
LOCATE COMP "psrama_sio[0]" SITE "R1";
LOCATE COMP "psrama_sio[1]" SITE "N3";
LOCATE COMP "psrama_sio[2]" SITE "L3";
LOCATE COMP "psrama_sio[3]" SITE "P3";

IOBUF PORT "psrama_nce" IO_TYPE=LVCMOS33;
IOBUF PORT "psrama_sclk" IO_TYPE=LVCMOS33;
IOBUF PORT "psrama_sio[0]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "psrama_sio[1]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "psrama_sio[2]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "psrama_sio[3]" IO_TYPE=LVCMOS33 PULLMODE=UP;

# USB
LOCATE COMP "usb_dp" SITE "B2"; # P2_8
LOCATE COMP "usb_dm" SITE "H4"; # P2_9
LOCATE COMP "usb_pu" SITE "C2"; # P2_7
LOCATE COMP "usb_vdet" SITE "G4"; # P2_10

IOBUF PORT "usb_dp" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_dm" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_pu" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_vdet" IO_TYPE=LVCMOS33;

# Generic IO
LOCATE COMP "genio[19]" SITE "G5"; # P2_4
LOCATE COMP "genio[18]" SITE "H5"; # P2_3
LOCATE COMP "genio[17]" SITE "B1"; # P2_2
LOCATE COMP "genio[16]" SITE "C1"; # P2_1
LOCATE COMP "genio[15]" SITE "E2"; # P1B10
LOCATE COMP "genio[14]" SITE "G2"; # P1B9
LOCATE COMP "genio[13]" SITE "H2"; # P1B8
LOCATE COMP "genio[12]" SITE "J2"; # P1B7
LOCATE COMP "genio[11]" SITE "D1"; # P1B4
LOCATE COMP "genio[10]" SITE "F1"; # P1B3
LOCATE COMP "genio[9]" SITE "G1";  # P1B2
LOCATE COMP "genio[8]" SITE "J1";  # P1B1
LOCATE COMP "genio[7]" SITE "L2";  # P1A10
LOCATE COMP "genio[6]" SITE "P2";  # P1A9
LOCATE COMP "genio[5]" SITE "R3";  # P1A8
LOCATE COMP "genio[4]" SITE "T4";  # P1A7
LOCATE COMP "genio[3]" SITE "L1";  # P1A4
LOCATE COMP "genio[2]" SITE "N1";  # P1A3
LOCATE COMP "genio[1]" SITE "P4";  # P1A2
LOCATE COMP "genio[0]" SITE "R5";  # P1A1

IOBUF PORT "genio[19]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[18]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[17]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[0]" IO_TYPE=LVCMOS33;

